.wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-left: 5%;
    margin-right: 5%;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: baseline;
}

.footer {
    text-align: center;
    padding: 20px;
    height: 60px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.main {
    padding: 0;
    text-align: left;
}

body {
    padding: 2em;
}

nav {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filterbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#states-selector {
    padding: 8px;
    color: #337ab7;
    border: 1px solid #ccc;
    border-radius: 4px;
}

h3 {
    text-align: center;
    padding: 18px;

    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.block1 {
    display: flex;
    justify-content: space-between;
}

.block1_left {
    width: 45%;
}

.block1_right {
    width: 45%; 
}

.block2 {
    display: flex;
    justify-content: space-between;
}

.block2_left {
    width: 45%;
}

.block2_right {
    width: 45%; 
}

.table table-striped {
    padding: 0px, 10px;
}

.container {
    width: 70%;
    padding: 0;
}

.logo {
    display: flex;
    width: 180px;
}

.mail {
    display: flex;
}

td {
    width: 5%;
    height: 50px;
}

.mainbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    margin-left: 20px;
    width: 30%;

}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #337ab7;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}